// app.scss

// Import custom variables 
$primary: #4ABDAC;
$secondary:#FC4A1A;
$warning: #F7B733;
$light: #F7FFF7;
$dark: #2A363B;


// Import bootstrap scss
@import "bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:wght@400&display=swap');

body, html {
  font-family: 'Inclusive Sans', Arial, sans-serif !important;
}
